
<mat-card>
  <mat-card-header>
    <mat-card-title><h3>{{recipe.name}}</h3></mat-card-title>
    <mat-card-subtitle>{{recipe.description}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="recipe.picture">
  <mat-card-actions>
    <button mat-button>Like</button>
    <button mat-button>Share</button>
    <button (click)="toggleExpend()">See more</button>
    <a routerLink="/recipe/{{ recipe.id }}">Details</a>
  </mat-card-actions>
  <div *ngIf="isExpended">
    <h3>Ingredients</h3>
    <ul >
      <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}}</li>
    </ul>
    <h3>Instructions</h3>
    <ul >
      <li *ngFor="let instruction of recipe.instructions">{{instruction}}</li>
    </ul>
    </div>
</mat-card>
